body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'PT Serif', serif;
}

.all {
    background-color: white;
    max-width: 80%;
    margin: auto;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
}

header>img {
    width: 40%;
    margin: 12px;
}

.menuBar {
    width: 100%;
    margin-top: 12px;
    background-color: white;
    padding: 8px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menuBar>div {
    margin: 0 8px;
}

.searchBar {
    width: 100%;
    margin-bottom: 12px;
    background-color: #224975;
    padding: 8px;
}

.search {
    background-color: whitesmoke;
    margin: auto;
    width: 70%;
}



#bannerImg {
    max-width: 40%;
    /* border-radius: 8px; */
    padding: 20px;
}

.title {
    padding: 20px;
    font-size: 46px;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;
}

.footerText {
    max-width: 50%;
    font-size: 24px;
}

.footer {
    flex-direction: row;
    display: flex;
    color: white;
    background-color: #418e42;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

img#volantino {
    clip-path: inset(9px);
    height: 620px;
}

.data {
    padding: 24px;
    font-size: 16px;
    text-align: left;
}

.centralText {
    padding: 12px 24px;
    font-size: 36px;
    text-align: left;
}

.propaganda {
    text-align: left;
    font-size: 20px;
}

@media (max-width: 800px) {
    header {
        justify-content: center;
    }

    header>img {
        width: 85%;
        margin: 12px;
    }

    .all {
        max-width: 100%;
    }

    .menuBar,
    .searchBar {
        width: 85%;
    }

    .banner {
        border-radius: 0 0 12px 12px;
    }

    #bannerImg {
        max-width: 100%;
        /* border-radius: 0 0 12px 12px; */
        padding: 0;
    }

    .bannerText {
        max-width: 100%;
        text-align: center;

        padding: 30px;
        font-size: 40px;
    }

    .footerText {
        max-width: 100%;
        padding: 30px;
    }
}